openapi: 3.0.3
info:
  title: Módulo Estudiantes - Sistema de Matrícula
  version: "1.0.0"
  description: Gestión del registro académico de estudiantes (inscripción, convalidación, traslado)

servers:
  - url: https://api.tuinstitucion.edu.pe/v1

tags:
  - name: Estudiantes

security:
  - bearerAuth: []

paths:
  /estudiantes:
    post:
      operationId: registrarEstudiante
      tags: [Estudiantes]
      summary: Registra un nuevo estudiante
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrarEstudianteRequest'
      responses:
        '201':
          description: Estudiante registrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstudianteResponse'
        '400':
          description: Datos inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Código de estudiante ya existe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      operationId: listarEstudiantes
      tags: [Estudiantes]
      summary: Lista estudiantes de forma paginada
      parameters:
        - name: programaId
          in: query
          schema: { type: integer, format: int64 }
        - name: periodoIngreso
          in: query
          schema: { type: string }
        - name: q
          in: query
          description: Búsqueda por código de estudiante o nombre
          schema: { type: string }
        - name: page
          in: query
          schema: { type: integer, default: 0, minimum: 0 }
        - name: size
          in: query
          schema: { type: integer, default: 20, minimum: 1, maximum: 100 }
      responses:
        '200':
          description: Listado paginado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstudiantePageResponse'

  /estudiantes/{id}:
    get:
      operationId: obtenerEstudiante
      tags: [Estudiantes]
      summary: Obtiene el detalle de un estudiante
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer, format: int64 }
      responses:
        '200':
          description: Estudiante encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstudianteResponse'
        '404':
          description: Estudiante no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: actualizarEstudiante
      tags: [Estudiantes]
      summary: Actualiza información académica del estudiante
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer, format: int64 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActualizarEstudianteRequest'
      responses:
        '200':
          description: Estudiante actualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstudianteResponse'
        '404':
          description: Estudiante no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /estudiantes/me:
    get:
      operationId: obtenerEstudiantePropio
      tags: [Estudiantes]
      summary: Obtiene la información académica del estudiante autenticado
      responses:
        '200':
          description: Estudiante encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstudianteResponse'
        '404':
          description: El usuario autenticado no tiene registro de estudiante
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    TipoRegistro:
      type: string
      enum: [INSCRIPCION, CONVALIDACION, TRASLADO]

    RegistrarEstudianteRequest:
      type: object
      required: [usuarioId, codigoEstudiante, programaId, periodoIngreso, semestre, tipoRegistro]
      properties:
        usuarioId:
          type: integer
          format: int64
        codigoEstudiante:
          type: string
          maxLength: 20
        programaId:
          type: integer
          format: int64
        periodoIngreso:
          type: string
          maxLength: 10
          example: "2024-1"
        semestre:
          type: integer
          minimum: 1
        tipoRegistro:
          $ref: '#/components/schemas/TipoRegistro'
        direccion:
          type: string
          maxLength: 255
        contactoEmergenciaNombre:
          type: string
          maxLength: 150
        contactoEmergenciaTelefono:
          type: string
          maxLength: 20

    ActualizarEstudianteRequest:
      type: object
      required: [programaId, periodoIngreso, semestre]
      properties:
        programaId:
          type: integer
          format: int64
        periodoIngreso:
          type: string
          maxLength: 10
        semestre:
          type: integer
          minimum: 1
        direccion:
          type: string
          maxLength: 255
        contactoEmergenciaNombre:
          type: string
          maxLength: 150
        contactoEmergenciaTelefono:
          type: string
          maxLength: 20

    EstudianteResponse:
      type: object
      properties:
        id:
          type: integer
          format: int64
        usuarioId:
          type: integer
          format: int64
        codigoEstudiante:
          type: string
        programaId:
          type: integer
          format: int64
        periodoIngreso:
          type: string
        semestre:
          type: integer
        tipoRegistro:
          $ref: '#/components/schemas/TipoRegistro'
        direccion:
          type: string
        contactoEmergenciaNombre:
          type: string
        contactoEmergenciaTelefono:
          type: string

    EstudiantePageResponse:
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/EstudianteResponse'
        page:
          type: integer
        size:
          type: integer
        totalElements:
          type: integer
          format: int64
        totalPages:
          type: integer

    ErrorResponse:
      type: object
      properties:
        codigo:
          type: string
        mensaje:
          type: string
        timestamp:
          type: string
          format: date-time